<div class="body">
    <div class="signin-container">

        <div class="header">

            <h5>User Login</h5>
        </div>

        <div class="signin-card">

            <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">

                <div class="data-container" formGroupName="userData">

                    <div class="email">
                        <div class="input-container"> <input type="text" id="email" formControlName="email"
                                placeholder="Email"> <i class="fa-regular fa-envelope"></i>
                        </div>
                    </div>


                    <div class="password">

                        <div class="input-container">
                            <input type="password" id="password" formControlName="password" placeholder="Password"><i
                                class="fa-solid fa-lock"></i>
                        </div>
                    </div>

                    <div class="badCredentials" *ngIf="badCredentialsMessage">
                        <p>*Incorrect email or password</p>
                    </div>
                </div>
                <button type="submit" [ngStyle]="{'background-color':loginForm.invalid?'#89c2d9':''}" [disabled]="loginForm.invalid">Login</button>
            </form>
        </div>
    </div>
</div>
