
<div class="calender-container">
    <div class="header-container">
        <div class="div"> <span class="title">Employees Working Hours </span>
        </div>
        <div class="div"><span class="date-range">{{weeks[0].toDateString()}} -
                {{weeks[weeks.length-1].toDateString()}}</span>
            <button class="previous" (click)="prevWeek()">Previous</button>
            <button class="next" (click)="nextWeek()">Next</button>
            <button class="export" (click)="exportChartToPDF()">Export to PDF</button>
        </div>
    
    </div>
    
    
    <div class="charts-container">
        <div class="chart-container">
            <h5>Weekly Working Hours</h5>
            <canvas id="donutChart"></canvas>
        </div>
    
        <div class="chart-container-bar">
            <h5>Daily Working Hours</h5>
            <canvas id="barChart"></canvas>
        </div>
    </div>

      
</div>

