<span>{{weeks[0].toDateString()+ " - "+weeks[weeks.length-1].toDateString()}}</span>
<button (click)="prevWeek()">Previous</button><button (click)="nextWeek()">Next</button>
<button (click)="exportChartToPDF()">Export to PDF</button>

<button (click)="showData()">data</button>

<!-- <ng-template *ngIf="showCharts"> -->
    <div class="chart-container" style="width: 300px; height: 300px;" >
        <canvas  id="donutChart"  >{{ chart }}</canvas>
    </div>
    
    <div class="chart-container" >
        <canvas  id="barChart"  >{{ barChart }}</canvas>
    </div>

<!-- </ng-template> -->
