<div class="home-container">
    <div class="total-employees">
      <span>Total Employees: {{usersCount}}</span>
      
    </div>
  
    <div class="employees-data">
      <div class="employees-search">
        <!-- Search form or input can go here -->
        <input type="text" placeholder="Search Employees" [(ngModel)]="searchedEmployee" (input)="searchEmployeeByName()">

        <select [(ngModel)]="selected_department" (change)="changeCollectedUsers()">
          <option *ngFor="let depart of departments" [ngValue]="depart">{{depart}}</option>
        </select>
        
      </div>
  
      <div class="employees-table">
        <table>
          <thead>
            <tr>
              <th>Employee Name</th>
              <th>Email</th>
              <th>Department</th>
              <th>Position</th>
              <th>Joining Date</th>
              <th> Latest Checkin </th>
              <th> Latest Checkout </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <!-- Example rows; replace with dynamic content -->
            <tr *ngFor="let user of users">
              <td (click)="goToAttendanceOfEmployee(user.name,user.email)" class="employee-checkins">{{user.name}}</td>
              <td>{{user.email}}</td>
              <td>{{formatDepartmentEnums(user.department)}}</td>
              <td>{{user.position}}</td>
              <td>{{user.joiningDate.toString()}}</td>
              <td>{{getFirstPunchTime(user)[0] || ""}} <br> {{getFirstPunchTime(user)[1]}} </td>
              <td>{{getlastPunchTime(user)[0] || ""}} <br> {{getlastPunchTime(user)[1]}} </td>
              <td (click)="deleteUser(user.email)" class="employee-delete">delete user Account</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <app-calender></app-calender>
  