.home-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  
  .total-employees {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 1rem;
  }
  
  .total-employees span {
    margin: 0;
  }

  .employees-data {
    flex: 3;
    display: flex;
    flex-direction: column;
  }
  
.employee-checkins, .employee-delete{
  cursor: pointer;
}

  .employees-search {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
  }

  .employees-search .total-emp{
   background-color: #ddd;
   padding: 8px;
   font-family: "Montserrat", sans-serif;
   border-style: solid;
   border-color: #000000;
   font-size: medium;

  }

  .view-charts{
    background-color: #ddd;
    padding: 8px;
    font-family: "Montserrat", sans-serif;
    border-style: solid;
    border-color: #000000;
    font-size: medium;
    margin-left: 15px;
    margin-bottom: 5px;
  }
  
  .employees-search input {
    padding: 0.5rem;
    font-size: 1rem;
    margin-right: 10px;
  }
  
  .employees-table {
    flex: 1;
    overflow-x: auto; /* Enables horizontal scrolling for large tables */
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 0.75rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  thead {
    background-color: #f8f9fa;
  }
  
  th {
    font-weight: bold;
  }
  