<nav class="custom-navbar">
    <a class="custom-logo" href="#">
      <img src="../../assets/images/esense-logo.png" width="70" height="30" alt="">
    </a>
    <button class="custom-toggler" type="button">
      <span class="custom-toggler-icon"></span>
    </button>
    <div class="custom-collapse">
      <div class="custom-navbar-nav">
        <a class="custom-nav-item active" href="#">Home</a>
        <a class="custom-nav-item" href="#">Features</a>
        <a class="custom-nav-item" href="#">Pricing</a>
        <a class="custom-nav-item disabled" href="#">Disabled</a>
      </div>
    </div>
  </nav>
  