.custom-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa; /* Light background color */
    padding: 0.5rem 1rem; /* Adjust padding as needed */
    user-select: none;
  }
  
  .custom-logo {
    display: flex;
    align-items: center;
  }
  

  
  .custom-collapse {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end; /* Align items to the right */
  }

  .custom-collapse  {
cursor: pointer;
  }

  .custom-collapse span {
    cursor: auto;
    font-weight: light;
    font-style: italic;
      }
  
  .custom-navbar-nav {
    display: flex;
  }
  
  .custom-nav-item,span {
    margin-left: 1rem; /* Spacing between items */
    text-decoration: none;
    color: #000; /* Text color */
    padding: 0.5rem; /* Adjust padding as needed */
  }
  
  .custom-nav-item.active , .is-active{
    font-weight: bold; /* Highlight active item */
  }
  
 
  