<nav class="custom-navbar">
      <img src="../../assets/images/esense-logo.png" width="70" height="30" alt="logo" > <span class="app-title">Attendlly</span>
   

    <div class="custom-collapse">

      <div class="custom-navbar-nav">
        <span>{{getCurrentUsername()}}</span>
        <a class="custom-nav-item" routerLink="/attendance" routerLinkActive="is-active">Punches</a>
        <a class="custom-nav-item" routerLink="/addEmpolyee" *ngIf="isManager()" routerLinkActive="is-active">Add New Employee</a>
        <a class="custom-nav-item" routerLink="/signin" *ngIf="!checkLogin()" routerLinkActive="is-active">Login</a>
        <a class="custom-nav-item" routerLink="/dashboard" *ngIf="isManager()" routerLinkActive="is-active">Dashboard</a>
        <a class="custom-nav-item" (click)="logout()" *ngIf="checkLogin()" routerLinkActive="is-active">Logout</a>
      </div>
    </div>
  </nav>
  